<template>
  <div class="body">
    <div class="heading">
      <input type="text" class="heading__title" v-model="title" />
    </div>
    <div class="arguments-wrapper">
      <div class="arguments arguments_pros">
        <div
          class="arguments__sum"
          v-bind:class="{ arguments__sum_greatest: prosSum > consSum }"
        >
          {{ prosSum }}
        </div>
        <ol class="arguments__list arguments__list_pros">
          <li
            class="argument__item argument__item_pros"
            v-for="(argument, index) in pros"
            :key="index"
          >
            <button
              class="argument__delete argument__delete_pros"
              @click="deletePros(index)"
            ></button>
            <textarea-autosize
              class="argument__title"
              rows="1"
              v-model="argument.title"
            />
            <input
              type="number"
              min="0"
              max="99"
              class="argument__weight"
              v-model.number="argument.weight"
            />
          </li>
        </ol>
        <button
          class="arguments__add arguments__add_pros"
          @click="pros.push({ title: '...', weight: 0 })"
        >
          Add
        </button>
      </div>
      <div class="arguments arguments_cons">
        <div
          class="arguments__sum"
          v-bind:class="{ arguments__sum_greatest: consSum > prosSum }"
        >
          {{ consSum }}
        </div>
        <ol class="arguments__list arguments__list_cons">
          <li
            class="argument__item argument__item_cons"
            v-for="(argument, index) in cons"
            :key="index"
          >
            <textarea-autosize
              class="argument__title"
              rows="1"
              v-model="argument.title"
            />
            <input
              type="number"
              min="0"
              max="99"
              class="argument__weight"
              v-model.number="argument.weight"
            />
            <button
              class="argument__delete argument__delete_cons"
              @click="deleteCons(index)"
            ></button>
          </li>
        </ol>
        <button
          class="arguments__add arguments__add_cons"
          @click="cons.push({ title: '...', weight: 0 })"
        >
          Add
        </button>
      </div>
    </div>
    <footer class="footer">
      <ol class="footer__credentials">
        <li class="footer__credential">
          Created by <a href="https://gitlab.com/discrimy/">@discrimy</a>
        </li>
        <li class="footer__credential">
          <a href="https://gitlab.com/discrimy/pros-and-cons">Source</a>
        </li>
        <li class="footer__credential">Built with VueJs</li>
      </ol>
      <a class="footer__share-link" target="_blank" :href="shareLink">Share link</a>
    </footer>
  </div>
</template>

<script>
import "./static/reset.css";

export default {
  created() {
    // Extract data from a link
    const params = new URLSearchParams(window.location.search.substring(1));
    const dataJson = params.get("data");
    if (dataJson !== null) {
      try {
        const data = JSON.parse(dataJson);
        this.title = data.title;
        this.pros = data.pros;
        this.cons = data.cons;
      } catch (e) {
        console.warn("Link is broken, replace with defaults.");
      }
    }
  },
  data() {
    return {
      title: "Problem title",
      pros: [{ title: "Pro 1", weight: 1 }],
      cons: [{ title: "Con 1", weight: 2 }],
    };
  },
  methods: {
    deletePros(index) {
      this.pros = this.pros.filter((_, i) => i !== index);
    },
    deleteCons(index) {
      this.cons = this.cons.filter((_, i) => i !== index);
    },
  },
  computed: {
    prosSum() {
      return this.pros.map((p) => p.weight).reduce((a, b) => a + b, 0);
    },
    consSum() {
      return this.cons.map((p) => p.weight).reduce((a, b) => a + b, 0);
    },
    shareLink() {
      const data = { title: this.title, pros: this.pros, cons: this.cons };
      const json = JSON.stringify(data);
      const url = `${window.location.origin}?data=${encodeURIComponent(json)}`;
      return url;
    },
  },
};
</script>

<style>
/* Variables */
:root {
  --pros-color: #4cd64c;
  --cons-color: #ef1e1e;
  --footer-bg: lightgray;
  --link-color: gray;
}

/* Whole page */
.body {
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Heading */
.heading {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.heading__title {
  flex: 1;
  font-size: 3rem;
  text-align: center;

  border: none;
}

/* Arguments list */
.arguments-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.arguments {
  flex: 1;
  padding: 20px;
}
.arguments_pros {
  border-right: 2px solid gray;
}
.arguments__sum {
  font-size: 2.5rem;
  text-align: center;
}
.arguments__sum_greatest {
  text-decoration: underline;
}
.argument__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;

  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.argument__item_pros {
  justify-content: right;
}
.argument__item_cons {
  justify-content: left;
}
.argument__item_pros::after {
  content: "";
  background: url("static/plus-outline.svg") no-repeat;
  background-color: var(--pros-color);
  border-radius: 50%;

  width: 2rem;
  height: 2rem;
  margin-left: 10px;
}
.argument__item_cons::before {
  content: "";
  background: url("static/minus-outline.svg") no-repeat;
  background-color: var(--cons-color);
  border-radius: 50%;

  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}
.argument__weight {
  width: 50px;
  border: none;
  font-size: 1.7rem;
  margin: 5px;
}
/* Delete argument buttons */
.argument__delete {
  background: url("static/trash-outline.svg") no-repeat;
  border: none;

  width: 2rem;
  height: 2rem;
}
.argument__delete_pros {
  margin-right: 10px;
}
.argument__delete_cons {
  margin-left: 10px;
}

.argument__title {
  font-size: 2rem;
  flex: 1;
  width: 100%; /* Make textarea flexible */

  border: none;
  word-wrap: break-word;
}

/* Add argument buttons */
.arguments__add {
  border: none;
  width: 100%;
  font-size: 1.7rem;
  padding: 5px;
  color: white;
}
.arguments__add_pros {
  background: var(--pros-color);
}
.arguments__add_cons {
  background: var(--cons-color);
}

/* Footer */
.footer {
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: var(--footer-bg);
  padding: 5px;
  font-size: 1.5rem;
}
.footer a {
  color: var(--link-color);
}
.footer__credentials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.footer__credential {
  padding-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
.footer__share-link {
  display: flex;
  align-items: center;
  justify-self: right;
}
</style>