/* Variables */
:root {
  --pros-color: #4cd64c;
  --cons-color: #ef1e1e;
}

/* Whole page */
body {
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Heading */
.heading {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.heading__title {
  flex: 1;
  font-size: 3rem;
  text-align: center;
}

/* Arguments list */
.arguments-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.arguments {
  flex: 1;
  padding: 20px;
}
.arguments_pros {
    border-right: 2px solid gray;
}
.argument__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;

  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.argument__item_pros {
  justify-content: right;
}
.argument__item_cons {
  justify-content: left;
}
.argument__item_pros::after {
  content: "";
  background: url("static/plus-outline.svg") no-repeat;
  background-color: var(--pros-color);
  border-radius: 50%;

  width: 2rem;
  height: 2rem;
  margin-left: 10px;
}
.argument__item_cons::before {
  content: "";
  background: url("static/minus-outline.svg") no-repeat;
  background-color: var(--cons-color);
  border-radius: 50%;

  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}
.argument__title {
  font-size: 2rem;
  flex: 1;
}

/* Add argument buttons */
.arguments__add {
    border: none;
    width: 100%;
    font-size: 1.7rem;
    padding: 5px;
    color: white;
}
.arguments__add_pros {
    background: var(--pros-color);
}
.arguments__add_cons {
    background: var(--cons-color);
}